.ghe {
    width: 40px;
    height: 40px;
    background: yellowgreen;
    margin-right: 3px;
    margin-bottom: 3px;

    &.gheVip {
        background-color: red;
    }

    &.dangDat {
        background-color: orange;
    }

    &.daDat {
        cursor: not-allowed;
        background-color: gray;
    }
}