// text
$text_color_1:white;
$text_color_2:red;
$text_color_3:black;
$text_color_4:#858383;

// bg-color
$bg_color_1:red;
$bg_color_2:blue;
$bg_color_3:pink;

// gradient
$gr_color_1:#2E3192;
$gr_color_2:#18FFFF;

// direc
$direc_top:top;
$direc_bot:bottom;
$direc_right:right;
$direc_left:left;
